# Task running
invoke==1.1.1

# Testing
pytest==3.7.1
pytest-xdist==1.22.5
tox==3.2.1

# Docs
Sphinx>=1.2.2

# Pre-commit hooks (runs black)
pre-commit==1.10.5

# Linting
flake8==3.5.0
flake8-bugbear==18.2.0; python_version >= '3.5'

-e '.[django]'
