# Task running
invoke==1.2.0

# Testing
pytest==3.9.2
pytest-xdist==1.23.2
tox==3.5.2

# Docs
Sphinx>=1.2.2

# Pre-commit hooks (runs black)
pre-commit==1.11.2

# Linting
flake8==3.6.0
flake8-bugbear==18.8.0; python_version >= '3.5'

-e '.[django]'
